PORT=8008
NODE_ENV=development
MONGO_URI=***
SMTP_USER=***
SMTP_PASS=***
SMTP_HOST=***
SMTP_PORT=***
JWT_ACCESS_SECRET=***
JWT_REFRESH_SECRET=***
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=30d
DEVELOPMENT_URI=http://localhost:8008
PRODUCTION_URI=http://localhost:8008
ADMIN_EMAIL=***
ADMIN_PASSWORD=***
ADMIN_CONTACT=***